.navbar {
    background-color: #0b2040; /* Dark blue color */
    color: #fff; /* Font color (white) */
    padding: 15px 0; /* Adjust padding as needed */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #9b59b6; /* Change color on hover */
}
